[submodule "submodules/Instrumentor"]
	path = submodules/Instrumentor
	url = git@github.com:Mozzarella32/Instrumentor.git
[submodule "Instrumentor"]
	path = Instrumentor
	url = git@github.com:Mozzarella32/Instrumentor.git
[submodule "submodules/LinearAlgebra"]
	path = submodules/LinearAlgebra
	url = git@github.com:Mozzarella32/LinearAlgebra.git
[submodule "submodules/Visitor"]
	path = submodules/Visitor
	url = git@github.com:Mozzarella32/Visitor.git
[submodule "submodules/PreparePngs"]
	path = submodules/PreparePngs
	url = git@github.com:Mozzarella32/PreparePngs.git
[submodule "submodules/ShadersToCharArray"]
	path = submodules/ShadersToCharArray
	url = git@github.com:Mozzarella32/ShadersToCharArray.git
