# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb

*.log

.cache

build/*

Png_Includes.hpp
Png_X_List.hpp
PngHeaders
xxd
PreparePngs

Shader_Includes.hpp
Shader_X_List.hpp
CharArrays
ShadersToCharArray

.hash

Digitaler
