[submodule "submodules/Instrumentor"]
	path = submodules/Instrumentor
	url = git@github.com:Mozzarella32/Instrumentor.git
[submodule "Instrumentor"]
	path = Instrumentor
	url = git@github.com:Mozzarella32/Instrumentor.git
